body {
    background-color: rgb(241, 250, 240);
    margin-left: auto;
    margin-right: auto;
}


.container {
    display:flex;
  }
 
  .center-block {
    float: none;

  }

  .center-block {
    background-color: orange;
  }

  .col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;

  }